GRPC_PORT=50051

DATABASE_URL="postgresql://postgres:postgres@pgbouncer:6432/orchestration"
DATABASE_DIRECT_URL="postgresql://postgres:postgres@postgres:5432/orchestration"

SERVICE_AUTH_URL=auth:50051
SERVICE_PROFILE_URL=profile:50051
SERVICE_ENGINE_URL=engine:50051
SERVICE_BATTLE_URL=battle:50051

RABBIT_HOST=rabbitmq
RABBIT_USER=user
RABBIT_PASS=password

JWT_ACCESS_SECRET="your_access_secret"

PG_BOSS_MAX=5
PG_BOSS_NEW_CONNECTION_TIMEOUT_SECONDS=30
PG_BOSS_MAINTENANCE_INTERVAL_SECONDS=60
PG_BOSS_APPLICATION_NAME=orchestration-pgboss

KAFKA_BROKERS=kafka:9092
KAFKA_CLIENT_ID=test-client
